[Settings]
ROOT_DIR = ~/muni_sync
LOG_LEVEL = INFO

[Channels]
IA174 = /el/fi/podzim2023/IA174/um/slides_plain/before_lecture/
PV079 = /el/fi/podzim2023/PV079/um/lectures/
# Add more directories as needed
